# EDA

1. Скачайте датасет fifаs2.сsv. Проанализируйте его и определите, какие данные являются неполными. Удалите
ненужные колонки и недостающие значения.

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder\
        .master("local[*]")\
        .appName('PySpark_Tutorial')\
        .getOrCreate()

In [2]:
df = spark.read.option('header', True).csv('fifa_s2.csv')

In [3]:
from IPython.core.display import HTML
display(HTML("<style>pre { white-space: pre !important; }</style>"))

In [4]:
df.show(5)

+-----+---------+---+-----------+-------+---------+-------------------+-----+----+--------------+------------------------+-----------+--------+------+--------------------+-----------+------+--------------+
|   ID|     Name|Age|Nationality|Overall|Potential|               Club|Value|Wage|Preferred Foot|International Reputation|Skill Moves|Position|Joined|Contract Valid Until|     Height|Weight|Release Clause|
+-----+---------+---+-----------+-------+---------+-------------------+-----+----+--------------+------------------------+-----------+--------+------+--------------------+-----------+------+--------------+
| 1179|G. Buffon| 40|      Italy|     88|       88|Paris Saint-Germain| 4000|  77|         Right|                       4|          1|      GK|  2018|          01/01/2019|6.333333333|   203|          7400|
| 5479| Casillas| 37|      Spain|     82|       82|           FC Porto| 1500|  10|          Left|                       4|          1|    NULL|  2015|          01/01/2019|6.083333333|   185|          3000|
| 8205|    Braga| 35|   Portugal|     70|       70|            CD Aves|  750|   5|         Right|                       1|          3|     LCM|  2017|          01/01/2019|5.916666667|   165|          1600|
| 9014|A. Robben| 34|Netherlands|     84|       84|  FC Bayern München|15500| 110|          Left|                       4|          4|      RM|  2009|          01/01/2019|5.916666667|   176|         25600|
|19521|J. Ibehre| 35|    England|     61|       61|   Cambridge United|  120|   2|         Right|                       1|          2|      ST|  2017|          01/01/2019|6.333333333|   203|           210|
+-----+---------+---+-----------+-------+---------+-------------------+-----+----+--------------+------------------------+-----------+--------+------+--------------------+-----------+------+--------------+
only showing top 5 rows

Анализ пропусков

In [5]:
from pyspark.sql.functions import count, isnan, col, when
df_Columns = df.columns
df.select([count(when(col(c).isNull(), c)).alias(c) for c in df_Columns]).show()

+---+----+---+-----------+-------+---------+----+-----+----+--------------+------------------------+-----------+--------+------+--------------------+------+------+--------------+
| ID|Name|Age|Nationality|Overall|Potential|Club|Value|Wage|Preferred Foot|International Reputation|Skill Moves|Position|Joined|Contract Valid Until|Height|Weight|Release Clause|
+---+----+---+-----------+-------+---------+----+-----+----+--------------+------------------------+-----------+--------+------+--------------------+------+------+--------------+
|  0|   0|  0|          7|      0|        0| 241|  257|   0|             0|                      10|          6|      21|     0|                 273|     0|     0|             3|
+---+----+---+-----------+-------+---------+----+-----+----+--------------+------------------------+-----------+--------+------+--------------------+------+------+--------------+

In [6]:
for cols in df_Columns:
    print(f'в колонке {cols} {df.filter(col(cols).isNull()).count()} пропусков, или {round(df.filter(col(cols).isNull()).count()/df.count()*100, 2)} %')

в колонке ID 0 пропусков, или 0.0 %
в колонке Name 0 пропусков, или 0.0 %
в колонке Age 0 пропусков, или 0.0 %
в колонке Nationality 7 пропусков, или 0.29 %
в колонке Overall 0 пропусков, или 0.0 %
в колонке Potential 0 пропусков, или 0.0 %
в колонке Club 241 пропусков, или 10.05 %
в колонке Value 257 пропусков, или 10.71 %
в колонке Wage 0 пропусков, или 0.0 %
в колонке Preferred Foot 0 пропусков, или 0.0 %
в колонке International Reputation 10 пропусков, или 0.42 %
в колонке Skill Moves 6 пропусков, или 0.25 %
в колонке Position 21 пропусков, или 0.88 %
в колонке Joined 0 пропусков, или 0.0 %
в колонке Contract Valid Until 273 пропусков, или 11.38 %
в колонке Height 0 пропусков, или 0.0 %
в колонке Weight 0 пропусков, или 0.0 %
в колонке Release Clause 3 пропусков, или 0.13 %

In [7]:
df.toPandas().isna().mean() * 100

ID                           0.000000
Name                         0.000000
Age                          0.000000
Nationality                  0.291788
Overall                      0.000000
Potential                    0.000000
Club                        10.045852
Value                       10.712797
Wage                         0.000000
Preferred Foot               0.000000
International Reputation     0.416840
Skill Moves                  0.250104
Position                     0.875365
Joined                       0.000000
Contract Valid Until        11.379742
Height                       0.000000
Weight                       0.000000
Release Clause               0.125052
dtype: float64

In [26]:
# Смотрим типы, чтобы понимать чем заполнять пропуски, строками или числами
df.printSchema()

root
 |-- ID: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Nationality: string (nullable = true)
 |-- Overall: string (nullable = true)
 |-- Potential: string (nullable = true)
 |-- Club: string (nullable = true)
 |-- Value: string (nullable = true)
 |-- Wage: string (nullable = true)
 |-- Preferred Foot: string (nullable = true)
 |-- International Reputation: string (nullable = true)
 |-- Skill Moves: string (nullable = true)
 |-- Position: string (nullable = true)
 |-- Joined: string (nullable = true)
 |-- Contract Valid Until: string (nullable = true)
 |-- Height: string (nullable = true)
 |-- Weight: string (nullable = true)
 |-- Release Clause: string (nullable = true)

In [27]:
# Всё заполним константными строками. Переводить в числа пока не будем
df = df.fillna(value="unknown")
df.toPandas().isna().mean() * 100

ID                          0.0
Name                        0.0
Age                         0.0
Nationality                 0.0
Overall                     0.0
Potential                   0.0
Club                        0.0
Value                       0.0
Wage                        0.0
Preferred Foot              0.0
International Reputation    0.0
Skill Moves                 0.0
Position                    0.0
Joined                      0.0
Contract Valid Until        0.0
Height                      0.0
Weight                      0.0
Release Clause              0.0
dtype: float64

In [25]:
# Колонки Overall и Potential похожи, проверим сколько различных значений
df.filter(df['Overall'] != df['Potential']).count()

1576

Удалять колонки не будем

# Дубликаты

2. Найдите в датафрейме полные дубликаты и удалите их. Значения могут быть одинаковыми, но написаны по-разному. Например, может отличаться размер регистра (заглавные и строчные буквы). Особое внимание уделить колонке с названиями команд.

In [14]:
from pyspark.sql.functions import lower

for col in df.columns:
    df = df.withColumn(col, lower(col))
df.show()

+-----+-----------------+---+-------------------+-------+---------+-------------------+-----+----+--------------+------------------------+-----------+--------+------+--------------------+-----------+------+--------------+
|   ID|             Name|Age|        Nationality|Overall|Potential|               Club|Value|Wage|Preferred Foot|International Reputation|Skill Moves|Position|Joined|Contract Valid Until|     Height|Weight|Release Clause|
+-----+-----------------+---+-------------------+-------+---------+-------------------+-----+----+--------------+------------------------+-----------+--------+------+--------------------+-----------+------+--------------+
| 1179|        g. buffon| 40|              italy|     88|       88|paris saint-germain| 4000|  77|         right|                       4|          1|      gk|  2018|          01/01/2019|6.333333333|   203|          7400|
| 5479|         casillas| 37|              spain|     82|       82|           fc porto| 1500|  10|          left|                       4|          1|    NULL|  2015|          01/01/2019|6.083333333|   185|          3000|
| 8205|            braga| 35|           portugal|     70|       70|            cd aves|  750|   5|         right|                       1|          3|     lcm|  2017|          01/01/2019|5.916666667|   165|          1600|
| 9014|        a. robben| 34|        netherlands|     84|       84|  fc bayern münchen|15500| 110|          left|                       4|          4|      rm|  2009|          01/01/2019|5.916666667|   176|         25600|
|19521|        j. ibehre| 35|            england|     61|       61|   cambridge united|  120|   2|         right|                       1|          2|      st|  2017|          01/01/2019|6.333333333|   203|           210|
|20209|    ricardo costa| 37|           portugal|     74|       74|         cd tondela|  750|   4|         right|                       2|          2|     lcb|  2017|          01/01/2019|          6|   181|          1600|
|20801|cristiano ronaldo| 33|           portugal|     94|       94|           juventus|77000| 405|         right|                       5|          5|      st|  2018|          01/01/2022|6.166666667|   183|        127100|
|24630|       pepe reina| 35|              spain|     83|       83|              milan| 6000|  56|         right|                       3|          1|      gk|  2018|                NULL|6.166666667|   203|         10200|
|27532|      d. de vries| 37|        netherlands|     66|       66|             celtic|   40|   7|         right|                       1|          1|      gk|  2016|          01/01/2019|       6.25|   212|            72|
|45083|    s. von bergen| 35|        switzerland|     73|       73|     bsc young boys|  950|  12|         right|                       2|          2|     lcb|  2013|          01/01/2022|          6|   174|          1400|
|46175|     m. rosenberg| 35|             sweden|     73|       73|           malmö ff| 1800|   6|         right|                       1|          3|      rs|  2014|          01/01/2020|          6|   179|          2400|
|47201|         s. proto| 35|            belgium|     76|       76|              lazio| 1800|  20|         right|                       2|          1|      gk|  2018|          01/01/2021|          6|   163|          3100|
|48940|          p. čech| 36|     czech republic|     82|       82|            arsenal| 3000|  60|          left|                       4|          1|    NULL|  2015|          01/01/2019|6.416666667|   198|          5700|
|52498|       m. lehmann| 35|            germany|     72|       72|         1. fc köln|  725|  10|         right|                       2|          2|     cdm|  2012|          01/01/2019|5.833333333|   165|          1100|
|52679|        j. murphy| 36|republic of ireland|     62|       62|               bury|   40|   1|          left|                       1|          1|      gk|  2017|          01/01/2019|6.166666667|   194|            70|
|53110|        c. gordon| 35|           scotland|     74|       74|             celtic| 1300|  20|          left|                       2|          1|      gk|  2014|          01/01/2020|6.333333333|   183|          2400|
|53302|      d. de rossi| 34|              italy|     83|       83|               roma| 8000|  80|         right|                       3|          2|     rdm|  2002|                NULL|          6|   183|         13600|
|53363|        a. collin| 33|            england|     62|       62|    carlisle united|  150|   2|         right|                       1|          1|      gk|  2018|          01/01/2019|       6.25|   172|           263|
|53739|         l. grant| 35|            england|     74|       74|  manchester united| 1300|  39|         right|                       1|          1|      gk|  2018|          01/01/2020|6.333333333|   183|          2500|
|53748|    k. pilkington| 44|            england|     48|       48|   cambridge united| NULL|   1|         right|                       1|          1|      gk|  2018|          01/01/2023|6.166666667|   190|   4585.060806|
+-----+-----------------+---+-------------------+-------+---------+-------------------+-----+----+--------------+------------------------+-----------+--------+------+--------------------+-----------+------+--------------+
only showing top 20 rows

In [22]:
# Количество дублей
df.count() - df.distinct().count()

2

In [17]:
df \
    .groupby(df.columns) \
    .count() \
    .where('count > 1') \
    .sort('count', ascending=False) \
    .show()

+------+----------+---+-----------+-------+---------+------------+-----+----+--------------+------------------------+-----------+--------+------+--------------------+-----------+------+--------------+-----+
|    ID|      Name|Age|Nationality|Overall|Potential|        Club|Value|Wage|Preferred Foot|International Reputation|Skill Moves|Position|Joined|Contract Valid Until|     Height|Weight|Release Clause|count|
+------+----------+---+-----------+-------+---------+------------+-----+----+--------------+------------------------+-----------+--------+------+--------------------+-----------+------+--------------+-----+
|181872|  a. vidal| 31|      chile|     85|       85|fc barcelona|26000| 205|         right|                       4|          3|     cam|  2018|          01/01/2021|5.916666667|   165|         53300|    2|
|168651|i. rakitić| 30|    croatia|     87|       87|fc barcelona|46500| 260|         right|                       4|          3|     rcm|  2014|          01/01/2021|          6|   172|         95300|    2|
+------+----------+---+-----------+-------+---------+------------+-----+----+--------------+------------------------+-----------+--------+------+--------------------+-----------+------+--------------+-----+

In [20]:
df.filter((df['id'] == 181872) | (df['id'] == 168651)).show()

+------+----------+---+-----------+-------+---------+------------+-----+----+--------------+------------------------+-----------+--------+------+--------------------+-----------+------+--------------+
|    ID|      Name|Age|Nationality|Overall|Potential|        Club|Value|Wage|Preferred Foot|International Reputation|Skill Moves|Position|Joined|Contract Valid Until|     Height|Weight|Release Clause|
+------+----------+---+-----------+-------+---------+------------+-----+----+--------------+------------------------+-----------+--------+------+--------------------+-----------+------+--------------+
|168651|i. rakitić| 30|    croatia|     87|       87|fc barcelona|46500| 260|         right|                       4|          3|     rcm|  2014|          01/01/2021|          6|   172|         95300|
|168651|i. rakitić| 30|    croatia|     87|       87|fc barcelona|46500| 260|         right|                       4|          3|     rcm|  2014|          01/01/2021|          6|   172|         95300|
|181872|  a. vidal| 31|      chile|     85|       85|fc barcelona|26000| 205|         right|                       4|          3|     cam|  2018|          01/01/2021|5.916666667|   165|         53300|
|181872|  a. vidal| 31|      chile|     85|       85|fc barcelona|26000| 205|         right|                       4|          3|     cam|  2018|          01/01/2021|5.916666667|   165|         53300|
+------+----------+---+-----------+-------+---------+------------+-----+----+--------------+------------------------+-----------+--------+------+--------------------+-----------+------+--------------+

In [23]:
df = df.dropDuplicates()
df.count()

2397

# Функция

3. Напишите функцию, которая добавит колонку с разбиением возраста по группам: до 20, от 20 до 30, от 30 до
36 и старше 36. Посчитайте количество футболистов в каждой категории.

In [31]:
from pyspark.sql.types import IntegerType

df = df.withColumn('Age', df['Age'].cast(IntegerType()))
df.printSchema()

root
 |-- ID: string (nullable = false)
 |-- Name: string (nullable = false)
 |-- Age: integer (nullable = true)
 |-- Nationality: string (nullable = false)
 |-- Overall: string (nullable = false)
 |-- Potential: string (nullable = false)
 |-- Club: string (nullable = false)
 |-- Value: string (nullable = false)
 |-- Wage: string (nullable = false)
 |-- Preferred Foot: string (nullable = false)
 |-- International Reputation: string (nullable = false)
 |-- Skill Moves: string (nullable = false)
 |-- Position: string (nullable = false)
 |-- Joined: string (nullable = false)
 |-- Contract Valid Until: string (nullable = false)
 |-- Height: string (nullable = false)
 |-- Weight: string (nullable = false)
 |-- Release Clause: string (nullable = false)

In [46]:
from pyspark.sql.functions import lit

def age_category(df):
    df_2 = df.filter(df.Age < 20).withColumn('Age_category', lit('< 20'))
    df_2 = df_2.union(df.filter((df.Age >= 20) & (df.Age < 30)).withColumn('Age_category', lit('20-30')))
    df_2 = df_2.union(df.filter((df.Age >= 30) & (df.Age < 36)).withColumn('Age_category', lit('30-36')))
    df_2 = df_2.union(df.filter(df.Age >= 36).withColumn('Age_category', lit('> 36')))
    return df_2

In [49]:
df_2 = age_category(df)
df_2.filter('Age == 25').show(10)

+------+-------------+---+-----------+-------+---------+--------------------+-----+----+--------------+------------------------+-----------+--------+------+--------------------+-----------+------+--------------+------------+
|    ID|         Name|Age|Nationality|Overall|Potential|                Club|Value|Wage|Preferred Foot|International Reputation|Skill Moves|Position|Joined|Contract Valid Until|     Height|Weight|Release Clause|Age_category|
+------+-------------+---+-----------+-------+---------+--------------------+-----+----+--------------+------------------------+-----------+--------+------+--------------------+-----------+------+--------------+------------+
|203502|      b. reid| 25|    england|     73|       78|        cardiff city| 5500|  37|         right|                       1|          3|      st|  2018|          01/01/2022|5.583333333|   150|         11400|       20-30|
|206159|   s. sabelli| 25|      italy|     68|       71|             brescia|  925|   2|         right|                       1|          2|      rb|  2018|          01/01/2021|5.916666667|   163|          1500|       20-30|
|242700|    yan zhiyu| 25|   china pr|     55|       60|  changchun yatai fc|  100|   2|          left|                       1|          2|      lb|  2018|          01/01/2020|5.583333333|   143|           223|       20-30|
|219587|a. martinelli| 25|switzerland|     67|       70|             brescia|  800|   2|          left|                       1|          3|     cdm|  2017|          01/01/2019|       5.75|   152|          1300|       20-30|
|235549|a. ramalingom| 25|     france|     59|       64|          as béziers|  210|   1|         right|                       1|          2|      st|  2018|          01/01/2021|5.833333333|   154|           383|       20-30|
|201400|      rafinha| 25|     brazil|     82|       87|        fc barcelona|29500| 165|          left|                       2|          4|     cam|  2013|          01/01/2020|       5.75|   157|         62700|       20-30|
|202884|l. spinazzola| 25|      italy|     77|       80|            juventus|11000|  80|         right|                       2|          3|      lm|  2010|          01/01/2022|6.083333333|   165|         19000|       20-30|
|201155|  r. morrison| 25|    england|     76|       79|               lazio| 9500|  40|         right|                       1|          3|     cam|  2015|          01/01/2019|       5.75|   157|         16900|       20-30|
|204420| j. sternberg| 25|    germany|     65|       67|1. fc kaiserslautern|  550|   2|          left|                       1|          3|      lb|  2018|          01/01/2021|          6|   170|           839|       20-30|
|208589|     k. pusch| 25|    germany|     67|       70|1. fc heidenheim ...|  950|   5|          left|                       1|          2|     cam|  2017|          01/01/2020|5.916666667|   168|          1500|       20-30|
+------+-------------+---+-----------+-------+---------+--------------------+-----+----+--------------+------------------------+-----------+--------+------+--------------------+-----------+------+--------------+------------+
only showing top 10 rows

In [50]:
df_2.filter('Age == 32').show(10)

+------+---------------+---+-----------+-------+---------+-------------------+-----+----+--------------+------------------------+-----------+--------+------+--------------------+-----------+------+--------------+------------+
|    ID|           Name|Age|Nationality|Overall|Potential|               Club|Value|Wage|Preferred Foot|International Reputation|Skill Moves|Position|Joined|Contract Valid Until|     Height|Weight|Release Clause|Age_category|
+------+---------------+---+-----------+-------+---------+-------------------+-----+----+--------------+------------------------+-----------+--------+------+--------------------+-----------+------+--------------+------------+
|164468|      g. cahill| 32|    england|     80|       80|            chelsea| 8500|  99|         right|                       3|          2|      cb|  2012|          01/01/2019|6.333333333|   194|         15700|       30-36|
|193369|          galán| 32|      spain|     69|       69|cf rayo majadahonda|  575|   4|         right|                       1|          2|      rb|  2018|          01/01/2019|5.916666667|   174|           891|       30-36|
|168542|    david silva| 32|      spain|     90|       90|    manchester city|60000| 285|          left|                       4|          4|     lcm|  2010|          01/01/2020|5.666666667|   148|        111000|       30-36|
|172835|   m. andreolli| 32|      italy|     74|       74|           cagliari| 3200|  25|         right|                       2|          2|      cb|  2017|          01/01/2019|6.166666667|   176|          5500|       30-36|
|171189|aythami artiles| 32|      spain|     72|       72|         córdoba cf| 1800|   7|         right|                       1|          2|     lcb|  2018|          01/01/2020|          6|   172|          2800|       30-36|
|180714|      guilherme| 32|     russia|     78|       78|   lokomotiv moscow| 6000|   1|         right|                       2|          1|      gk|  2007|          01/01/2019|6.416666667|   209|         12600|       30-36|
|178171| sergio sánchez| 32|      spain|     72|       72|           cádiz cf| 1800|   7|         right|                       1|          2|     rcb|  2018|          01/01/2020|6.083333333|   172|          2900|       30-36|
|193421|      javi lara| 32|      spain|     70|       70|         córdoba cf| 1300|   6|         right|                       1|          3|     rcm|  2017|          01/01/2019|5.833333333|   161|          2100|       30-36|
|170569|david rodríguez| 32|      spain|     69|       69|         ca osasuna|  850|   6|         right|                       1|          3|      st|  2017|          01/01/2020|5.833333333|   165|          1400|       30-36|
|193267|    f. pisacane| 32|      italy|     72|       72|           cagliari| 1800|  20|         right|                       1|          2|      cb|  2015|          01/01/2019|5.833333333|   170|          3000|       30-36|
+------+---------------+---+-----------+-------+---------+-------------------+-----+----+--------------+------------------------+-----------+--------+------+--------------------+-----------+------+--------------+------------+
only showing top 10 rows

In [51]:
df_2.filter('Age == 37').show(10)

+------+-------------+---+-----------+-------+---------+--------------------+-------+----+--------------+------------------------+-----------+--------+------+--------------------+-----------+------+--------------+------------+
|    ID|         Name|Age|Nationality|Overall|Potential|                Club|  Value|Wage|Preferred Foot|International Reputation|Skill Moves|Position|Joined|Contract Valid Until|     Height|Weight|Release Clause|Age_category|
+------+-------------+---+-----------+-------+---------+--------------------+-------+----+--------------+------------------------+-----------+--------+------+--------------------+-----------+------+--------------+------------+
|145047| bruno saltor| 37|      spain|     74|       74|brighton & hove a...|    650|  25|         right|                       1|          3|      rb|  2012|          01/01/2019|5.916666667|   168|          1200|        > 36|
| 54008|   s. bywater| 37|    england|     63|       63|       burton albion|     20|   1|         right|                       1|          1|      gk|  2016|          01/01/2019|6.083333333|   179|            35|        > 36|
|137186|  a. barzagli| 37|      italy|     84|       84|            juventus|   4200|  95|         right|                       3|          2|      cb|  2011|          01/01/2019|6.166666667|   192|          6900|        > 36|
| 27532|  d. de vries| 37|netherlands|     66|       66|              celtic|     40|   7|         right|                       1|          1|      gk|  2016|          01/01/2019|       6.25|   212|            72|        > 36|
| 20209|ricardo costa| 37|   portugal|     74|       74|          cd tondela|    750|   4|         right|                       2|          2|     lcb|  2017|          01/01/2019|          6|   181|          1600|        > 36|
|153160|    r. raldes| 37|    bolivia|     70|       70|             unknown|unknown|   0|         right|                       1|          2|      lb|  2016|             unknown|5.916666667|   172|   4585.060806|        > 36|
|  5479|     casillas| 37|      spain|     82|       82|            fc porto|   1500|  10|          left|                       4|          1| unknown|  2015|          01/01/2019|6.083333333|   185|          3000|        > 36|
+------+-------------+---+-----------+-------+---------+--------------------+-------+----+--------------+------------------------+-----------+--------+------+--------------------+-----------+------+--------------+------------+

In [54]:
df_2.groupBy('Age_category').count().show()

+------------+-----+
|Age_category|count|
+------------+-----+
|        < 20|  270|
|       20-30| 1646|
|       30-36|  458|
|        > 36|   23|
+------------+-----+